@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");

/* 
font-family: 'Cardo', serif;
font-family: 'Raleway', sans-serif;
*/

body {
  font-family: $fontDefault;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
section {
  margin-top: 15vh;
}
.button {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $pink;
  width: 30%;
  min-width: 280px;
  padding: 25px;

  &:hover {
    background-color: $buttonHover;
  }
  &:active {
    background-color: $pink;
    box-shadow: 4px 4px 30px $pink;
  }
}
